{{#if loggedIn}}
<p>{{username}}</p>
<form class="post-form">
  <div>
    <p>New Post Title</p>
    <input name="post-title">
  </div>

  <div>
    <p>Post description</p>
    <textarea name="post-body"></textarea>
  </div>

  <div>
    <button type="submit">Submit Post</button>
  </div>

  <ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ul>

  <script src="/javascript/dahsboard.js"></script>
</form>
{{/if}}