{{#if loggedIn}}
<a href="/new-post"><button>+ Post</button></a>
<p>{{username}}</p>

  <ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ul>
</form>
{{/if}}